{% include "User/base.html" %}
<style>
#primary-text {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    margin-top: 100px;
    padding-bottom: 30px;
    border: 4px darkblue;
    box-shadow: 10px 10px 5px lightgray;
    background: linear-gradient(to right, whitesmoke, rgb(60, 60, 154));
}
#hrf-head{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(95, 91, 91);
    
}

</style>

<body>
<div id="primary-text">  
    <p>
        My Apologies. This part of the site is still under development! Feel Free to<a href="/" id="hrf-head">head</a>back over
        to the home page. 
    </p>
  </div>

  </body>